<footer class="footer-01">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <h2 class="footer-heading text-white">MedHome</h2>
        <p>Vận hành bởi đội ngũ trẻ đầy nhiệt huyết, MedHome mong muốn mang lại một giải pháp y tế Online giúp người dân
          Việt Nam dễ dàng hơn trong việc tìm kiếm bác sĩ và đặt lịch khám bệnh.</p>
        <ul class="ftco-footer-social p-0">
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span
                class="ion-logo-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span
                class="ion-logo-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span
                class="ion-logo-instagram"></span></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
        <h2 class="footer-heading text-white ">Liên kết</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-2 d-block">Home</a></li>
          <li><a href="#" class="py-2 d-block">About</a></li>
          <li><a href="#" class="py-2 d-block">Services</a></li>
          <li><a href="#" class="py-2 d-block">Works</a></li>
          <li><a href="#" class="py-2 d-block">Blog</a></li>
          <li><a href="#" class="py-2 d-block">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <h2 class="footer-heading text-white">Thông tin</h2>
        <div class="block-23 mb-3">
          <ul>
            <li>
              <i nz-icon nzType="environment" nzTheme="outline" class="icon"></i>
              <span class="text">203 Fake St. Mountain View, San Francisco,
                California, USA</span>
            </li>
            <li>
              <i nz-icon nzType="phone" nzTheme="outline" class="icon"></i>
              <span class="text">+2 392 3929 210</span>
            </li>
            <li>
              <i nz-icon nzType="info-circle" nzTheme="outline" class="icon"></i>
              <span class="text">info@yourdomain.com</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
        <h2 class="footer-heading text-white">Mạng xã hội</h2>
        <div class="w-100 mb-4 d-flex">
          <i class="text-white me-2" style="font-size: 32px;" nz-icon nzType="instagram" nzTheme="outline"></i>
          <i class="text-white me-2" style="font-size: 32px;" nz-icon nzType="facebook" nzTheme="outline"></i>
          <i class="text-white me-2" style="font-size: 32px;" nz-icon nzType="twitter" nzTheme="outline"></i>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12 text-center">

        <p class="copyright">
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://github.com/sonhai32"
            target="_blank">Lam Son Hai</a>
        </p>
      </div>
    </div>
  </div>
</footer>
