<h5 nz-typography class="ant-text-primary">ĐỔI MẬT KHẨU</h5>
<div *ngIf="validateForm" nz-row nzAlign="middle" nzJustify="center">
  <div nz-col nzXXl="18" nzXl="18" nzLg="20" nzSpan="22">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item class="m-0 p-0">
        <nz-form-control [nzErrorTip]="getErrorTooltips('oldPassword')">
          <nz-form-label nzSpan="24" class="m-0 p-0">
            Mật khẩu cũ
          </nz-form-label>
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="oldPassword" type="password" nz-input placeholder="Nhập mật khẩu cũ" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="m-0 p-0">
        <nz-form-control [nzErrorTip]="getErrorTooltips('newPassword')">
          <nz-form-label nzSpan="24" class="m-0 p-0">
            Mật khẩu mới
          </nz-form-label>
          <nz-input-group nzPrefixIcon="lock">
            <input (ngModelChange)="updateConfirmPasswordValidator" formControlName="newPassword" type="password"
              nz-input placeholder="Nhập mật khẩu mới" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="m-0 p-0">
        <nz-form-control [nzErrorTip]="getErrorTooltips('reNewPassword')">
          <nz-form-label nzSpan="24" class="m-0 p-0">
            Nhập lại mật khẩu mới
          </nz-form-label>
          <nz-input-group nzPrefixIcon="redo">
            <input formControlName="reNewPassword" type="password" nz-input placeholder="Nhập lại mật khẩu mới" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nzAlign="middle" nzJustify="end" class="mt-3">
        <button nz-button nzType="primary">Cập nhật</button>
      </nz-form-item>
    </form>
  </div>
</div>
