<section nz-row class="position-relative h-100" nzJustify="center" nzAlign="middle">
  <div nz-col nzXXl="12" nzXl="12" nzLg="12" nzSpan="24">
    <div nz-row nzJustify="end">
      <div nz-col nzXXl="17" nzXl="17" nzLg="17" nzSpan="0" class="h-100">
        <div nz-row nzAlign="middle">
          <div nz-col nzSpan="24">
            <h2 data-aos="fade-right"  class="m-0 " nz-typography>
              Get a complete diagnosis
            </h2>
            <h2 data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000" nz-typography class="m-0 ">at the
              &emsp;<span class="ant-text-primary">MedHome</span></h2>
            <h2 data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">Medical
              Center
            </h2>
            <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" class="w-50">
              <span class="mt-3" nz-typography nzType="secondary">
                MedHome is the morden Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aperiam veniam non
                necessitatibus eveniet culpa eaque quibusdam ipsum eum adipisci iste tempore possimus suscipit,
                molestias
                quidem
                odio, deserunt nobis laudantium.
              </span>
            </div>
            <button nz-button nzType="primary" nzShape="round" class="my-3">Đăng ký khám bệnh ngay</button>
          </div>
        </div>
      </div>
      <!-- RESPONSIVE -->
      <div nz-col nzXXl="0" nzXl="0" nzLg="0" nzSpan="24" class=" p-3 h-100">
        <div nz-row class="w-100 h-100 position-relative mb-5" nzAlign="middle">
          <div nz-col nzSpan="24">
            <h2 data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
              class="m-0 text-center " nz-typography>
              Get a complete diagnosis
            </h2>
            <h2 data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
              nz-typography class="m-0 text-center ">at the &emsp;<span class="ant-text-primary">MedHome</span></h2>
            <h2 class="m-0 text-center" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000"
              data-aos-easing="ease-in-out">Medical
              Center
            </h2>
            <div data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
              class="w-100 text-center">
              <span class="mt-3" nz-typography nzType="secondary">
                MedHome is the morden Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aperiam veniam non
                necessitatibus eveniet culpa eaque quibusdam ipsum eum adipisci iste tempore possimus suscipit,
                molestias
                quidem
                odio, deserunt nobis laudantium.
              </span>
            </div>
            <div class="w-100 d-flex align-items-center justify-content-center py-4">
              <button data-aos="fade-up" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
                nz-button nzType="primary" nzShape="round">Đăng ký khám bệnh ngay</button>
            </div>
          </div>
          <div class="w-100 h-100"
            style="position: absolute; top:0 ; left: 0; z-index: -1; backdrop-filter: blur(10px);">
          </div>
          <div data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1500" class="w-100 absolute-center"
            style="z-index: -2; position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);">
            <img class="w-100" src="assets/images/doctor.png" alt="">
          </div>
        </div>
      </div>
      <!-- RESPONSIVE -->
    </div>
  </div>
  <div nz-col nzXXl="12" nzXl="12" nzLg="12" nzSpan="0" class="p-5 h-100">
    <div class="d-flex w-100 h-100 align-items-center justify-content-center position-relative">
      <div data-aos="zoom-in" data-aos-delay="50" data-aos-duration="1500" class="w-100">
        <img class="w-100" src="assets/images/doctor.png" alt="">
      </div>
      <div style="position: absolute; left: 5%; top: 10%" data-aos="fade-up" data-aos-delay="100"
        data-aos-duration="1500" class="p-4 rounded-circle bg-filter">
        <h6 nz-typography class="text-center">Tiện lợi</h6>
      </div>
      <div style="position: absolute; left: 0%; bottom: 5%" data-aos="fade-left" data-aos-delay="100"
        data-aos-duration="1500" class="p-4 rounded-circle bg-filter">
        <h6 nz-typography class="text-center">Nhanh chóng</h6>
      </div>
      <div style="position: absolute; left: -5%; top: 50%" data-aos="fade-left" data-aos-delay="100"
        data-aos-duration="1500" class="p-4 rounded-circle bg-filter">
        <h6 nz-typography class="text-center">Dễ dàng</h6>
      </div>
    </div>
  </div>
</section>
