<div nz-row nzJustify="center" style="min-height: 100vh; margin-top: 120px;">
  <div nz-col nzXXl="18" nzXl="18" nzLg="20" nzSpan="22">
    <div nz-row [nzGutter]="[12, 12]" class="bg-white p-2 rounded">
      <div nz-col nzXXl="6" nzXl="6" nzLg="8">
        <ul nz-menu nzMode="inline">
          <li nzSelected="true" nzMatchRouter="true" nz-menu-item nzTitle="User" nzIcon="user" nzOpen>
            <i nz-icon nzType="user"></i>
            <a [routerLink]="['info']" class="mx-2">Tài khoản</a>
          </li>
          <li nzMatchRouter="true" nz-menu-item nzTitle="Góp ý" nzIcon="user" nzOpen>
            <i nz-icon nzType="mail"></i>
            <a [routerLink]="['feedback']" class="mx-2">Góp ý</a>
          </li>
          <li nz-submenu nzTitle="Hồ sơ bệnh nhân" nzIcon="profile">
            <ul>
              <li nzMatchRouter="true" nz-menu-item>
                <i nz-icon nzType="ordered-list" nzTheme="outline"></i>
                <a [routerLink]="['patient-records']" class="mx-2">Danh sách hồ sơ</a>
              </li>
              <li nzMatchRouter="true" nz-menu-item>
                <i nz-icon nzType="user-add" nzTheme="outline"></i>
                <a [routerLink]="['new-patient-record']" class="mx-2">Thêm hồ sơ</a>
              </li>
              <li nzMatchRouter="true" nz-menu-item>
                <i nz-icon nzType="file-sync" nzTheme="outline"></i>
                <a [routerLink]="['patient-schedule']" class="mx-2">Lịch khám</a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Cài đặt tài khoản" nzIcon="setting">
            <ul>
              <li nzMatchRouter nz-menu-item>
                <i nz-icon nzType="reload" nzTheme="outline"></i>
                <a [routerLink]="['change-password']" class="mx-2">Đổi mật khẩu</a>
              </li>
              <li nz-menu-item>
                <i nz-icon nzType="logout" nzTheme="outline"></i>
                <span>Đăng xuất</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div nz-col nzXXl="18" nzXl="18" nzLg="16" nzSpan="22">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
