<div style="min-height: 100vh; margin-top: 120px;" nz-row nzAlign="middle" nzJustify="center">
  <div nz-col nzXXl="20" nzXl="22" nzSpan="24" class="p-2 h-100">
    <div nz-row nzJustify="center" [nzGutter]="[12,12]">
      <div nz-col nzXXl="6" nzXl="8" nzLg="8" nzMd="8" nzSpan="24" class="p-2">
        <div nz-row nzAlign="middle" nzJustify="center" [nzGutter]="[12,12]">
          <div nz-col nzXXl="18" nzXl="18" nzLg="20" nzMd="20" nzSpan="24" class="rounded bg-white p-2 my-2">
            <h5 nz-typography class="m-0 p-0">Lam Son Hai</h5>
            <p nz-typography nzType="secondary" class="p-0 m-0">Địa chỉ: Lorem ipsum dolor sit amet consectetur
              adipisicing elit.
              Assumenda odit ea delectus ipsam sed
            </p>
            <p nz-typography nzType="secondary" class="p-0 m-0">Điện thoại: 02222222222</p>
          </div>
          <div nz-col nzXXl="18" nzXl="18" nzLg="20" nzMd="20" nzSpan="24" class="rounded bg-white p-0 my-2">
            <h5 nz-typography class="m-0 p-2 ant-bg-primary text-white rounded-top">THÔNG TIN KHÁM</h5>
            <div class="w-100 p-2">
              <h6 nz-typography class="m-0 p-0 d-flex align-items-center ant-text-primary">
                <i nz-icon nzType="home" nzTheme="outline" class="me-2"></i>
                Bệnh viện DKKV Củ Chi
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div nz-col nzXXl="18" nzXl="16" nzLg="16" nzMd="16" nzSpan="24" class="p-2">
        <div nz-row class="bg-white rounded">
          <div nz-col nzSpan="24" class=" p-3 mb-3">
            <nz-steps [nzCurrent]="1" nzSize="small">
              <nz-step nzTitle="Chọn bệnh viện"></nz-step>
              <nz-step nzTitle="Chọn ngày khám / Chuyên khoa"></nz-step>
              <nz-step nzTitle="Chọn bác sĩ"></nz-step>
              <nz-step nzTitle="Thanh toán"></nz-step>
            </nz-steps>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
