.hospital-container {
  min-height: 100vh;
  padding-top: 80px;
  background: url("https://firebasestorage.googleapis.com/v0/b/medical-appointment-13e88.appspot.com/o/Asset%201.png?alt=media&token=389316ac-7fad-473e-a331-8e41d1aca7b1");
  background-size: 50%;
  background-position: top;
  background-repeat: no-repeat;
}
