<div nz-row nzAlign="middle" nzJustify="center">
  <div nz-col nzXXl="18" nzXl="18" nzLg="20" nzSpan="22">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <div nz-row nzJustify="center" nzGutter="16">
        <div nz-col nzXXl="8" nzXl="8" nzLg="8" nzSpan="24">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzRequired="true" nzSpan="24" class="m-0 p-0">
              Họ
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('firstName')">
              <input formControlName="firstName" type="text" nz-input placeholder="Nhập họ" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXXl="8" nzXl="8" nzLg="8" nzSpan="24">
          <nz-form-item class="m-0 p-0">
            <nz-form-label class="m-0 p-0" nzSpan="24">
              Tên đệm
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('middleName')">
              <input formControlName="middleName" type="text" nz-input placeholder="Nhập tên đệm" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXXl="8" nzXl="8" nzLg="8" nzSpan="24">
          <nz-form-item class="m-0 p-0">
            <nz-form-label [nzRequired]="true" nzSpan="24" class="m-0 p-0">
              Tên
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('lastName')">
              <input formControlName="lastName" type="text" nz-input placeholder="Nhập tên" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item class="m-0 p-0">
        <nz-form-control [nzErrorTip]="getErrorTooltips('emailAddress')">
          <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
            Địa chỉ email
          </nz-form-label>
          <nz-input-group nzPrefixIcon="mail">
            <input formControlName="emailAddress" type="text" nz-input placeholder="Địa chỉ email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="m-0 p-0">
        <nz-form-control [nzErrorTip]="getErrorTooltips('phoneNumber')">
          <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
            Số điện thoại
          </nz-form-label>
          <nz-input-group nzPrefixIcon="phone">
            <input formControlName="phoneNumber" type="text" nz-input placeholder="Số điện thoại" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="m-0 p-0">
        <nz-form-control [nzErrorTip]="getErrorTooltips('citizenIdentification')">
          <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
            CMND/CCCD
          </nz-form-label>
          <nz-input-group nzPrefixIcon="idcard">
            <input formControlName="citizenIdentification" type="text" nz-input placeholder="Nhập CMND hoặc CCCD" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzJustify="space-between" nzGutter="16">
        <div nz-col nzSpan="12">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
              Ngày sinh
            </nz-form-label>
            <nz-form-control nzSpan="24" [nzErrorTip]="getErrorTooltips('birthday')">
              <nz-date-picker [nzDisabledDate]="birthdayRangeDisable" (ngModelChange)="onBirthdayChange($event)"
                nzFormat="dd/MM/yyyy" nzPlaceHolder="Chọn ngày sinh" class="w-100" formControlName="birthday">
              </nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzSpan="24" class="m-0 p-0">
              Tuổi
            </nz-form-label>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="field-number">
                <input formControlName="age" [disabled]="true" type="text" nz-input>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="space-between" nzGutter="16">
        <div nz-col nzSpan="12">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
              Giới tính
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('gender')">
              <nz-select [nzLoading]="listGenderLoading" formControlName="gender" class="w-100"
                nzPlaceHolder="Chọn giới tính">
                <ng-container *ngIf="listGender">
                  <nz-option *ngFor="let item of listGender" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
              Nghề nghiệp
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('job')">
              <nz-input-group nzPrefixIcon="field-number">
                <input formControlName="job" type="text" nz-input>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzJustify="space-between" nzGutter="16">
        <div nz-col nzXXl="8" nzXl="8" nzLg="8" nzMd="12" nzSpan="24">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
              Tỉnh thành
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('province')">
              <nz-select (ngModelChange)="onProvinceChange($event)" [nzAllowClear]="true"
                [nzLoading]="listProvinceLoading" formControlName="province" class="w-100"
                nzPlaceHolder="Chọn tỉnh thành">
                <ng-container *ngIf="listProvince">
                  <nz-option *ngFor="let item of listProvince" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXXl="8" nzXl="8" nzLg="8" nzMd="12" nzSpan="24">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
              Quận huyện
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('district')">
              <nz-select (ngModelChange)="onDistrictChange($event)" [nzLoading]="listDistrictLoading"
                formControlName="district" class="w-100" nzPlaceHolder="Chọn quận huyện">
                <ng-container *ngIf="listDistrict">
                  <nz-option *ngFor="let item of listDistrict" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXXl="8" nzXl="8" nzLg="8" nzMd="24" nzSpan="24">
          <nz-form-item class="m-0 p-0">
            <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
              Phường xã
            </nz-form-label>
            <nz-form-control [nzErrorTip]="getErrorTooltips('ward')">
              <nz-select [nzLoading]="listWardLoading" formControlName="ward" class="w-100"
                nzPlaceHolder="Chọn phường xã">
                <ng-container *ngIf="listWard">
                  <nz-option *ngFor="let item of listWard" [nzLabel]="item.name" [nzValue]="item.id">
                  </nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item class="m-0 p-0">
        <nz-form-control [nzErrorTip]="getErrorTooltips('address')">
          <nz-form-label nzRequired nzSpan="24" class="m-0 p-0">
            Địa chỉ
          </nz-form-label>
          <nz-input-group nzPrefixIcon="environment">
            <input formControlName="address" type="text" nz-input placeholder="Địa chỉ">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mt-3" nzAlign="middle" nzJustify="end">
        <button *ngIf="patientRecord" type="reset" nz-button nzType="dashed" nzDanger="true" class="mx-2">Xoá</button>
        <button nz-button type="submit" nzType="primary">{{patientRecord ? 'Cập nhật' : 'Thêm'}}</button>
      </nz-form-item>
    </form>
  </div>
</div>
