<section nz-row nzAlign="middle" nzJustify="center" class="vh-100">
  <div nz-col nzXXl="18" nzXl="18" nzLg="20" nzMd="22" nzSpan="24">
    <h2 class="text-center" nz-typography>Các chuyên khoa phổ biến </h2>
    <div nz-row nzAlign="middle" nzJustify="space-around">
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="80"
        class="p-0 pb-3 specialist-cart bg-white rounded shadow pt-3 m-2" nz-col nzSpan="6">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
          <img width="64" height="64" class="rounded" src="assets/icons/heart.png" alt="">
          <h5 nz-typography class="py-2">Tim mạch</h5>
          <button nz-button nzType="primary" nzShape="round">Khám ngay</button>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="80"
        class="p-0 pb-3 specialist-cart bg-white rounded shadow pt-3 m-2" nz-col nzSpan="6">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
          <img width="64" height="64" class="rounded" src="assets/icons/bone.png" alt="">
          <h5 nz-typography class="py-2">Xương khớp</h5>
          <button nz-button nzType="primary" nzShape="round">Khám ngay</button>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="80"
        class="p-0 pb-3 specialist-cart bg-white rounded shadow pt-3 m-2" nz-col nzSpan="6">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
          <img width="64" height="64" class="rounded" src="assets/icons/brain.png" alt="">
          <h5 nz-typography class="py-2">Thần kinh</h5>
          <button nz-button nzType="primary" nzShape="round">Khám ngay</button>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="80"
        class="p-0 pb-3 specialist-cart bg-white rounded shadow pt-3 m-2" nz-col nzSpan="6">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
          <img width="64" height="64" class="rounded" src="assets/icons/digestion.png" alt="">
          <h5 nz-typography class="py-2">Tiêu hóa</h5>
          <button nz-button nzType="primary" nzShape="round">Khám ngay</button>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="80"
        class="p-0 pb-3 specialist-cart bg-white rounded shadow pt-3 m-2" nz-col nzSpan="6">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
          <img width="64" height="64" class="rounded" src="assets/icons/head.png" alt="">
          <h5 nz-typography class="py-2">Tai mũi họng</h5>
          <button nz-button nzType="primary" nzShape="round">Khám ngay</button>
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="80"
        class="p-0 pb-3 specialist-cart bg-white rounded shadow pt-3 m-2" nz-col nzSpan="6">
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
          <img width="64" height="64" class="rounded" src="assets/icons/spine.png" alt="">
          <h5 nz-typography class="py-2">Cột sống</h5>
          <button nz-button nzType="primary" nzShape="round">Khám ngay</button>
        </div>
      </div>
    </div>
  </div>
</section>
