<nz-collapse nzBordered="false" nzExpandIconPosition="right">
  <nz-collapse-panel [nzHeader]="patientRecord">
    <p style="margin:0;">
      <app-patient-record></app-patient-record>
    </p>
  </nz-collapse-panel>
</nz-collapse>


<ng-template #patientRecord>
  <div nz-row nzAlign="middle" nzJustify="start" nzGutter="16">
    <div nz-col>
      <nz-avatar [nzSize]="64" nzIcon="user" class="d-flex align-items-center justify-content-center"></nz-avatar>
    </div>
    <div nz-col>
      <h6 nz-typography>Bệnh nhân: Nguyen Van A</h6>
      <p nz-typography class="m-0">Ngày sinh: 30/11/2021</p>
      <p nz-typography class="m-0">CMND/CCCD: 0000000000</p>
    </div>
  </div>
</ng-template>
