<section class="vh-100 bg-white" nzAlign="middle" nz-row nzJustify="center">
  <div nz-col nzXXl="20" nzXl="20" nzLg="20" nzSpan="0">
    <div nz-row nzAlign="middle" nzJustify="center" class="position-relative">
      <div nz-col nzXXl="12" nzXl="12" nzLg="12" nzSpan="0">
        <div data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000" class="w-100">
          <img class="w-100" src="assets/images/procedure.svg" alt="">
        </div>
      </div>
      <div nz-col nzXXl="10" nzXl="10" nzLg="10" nzSpan="24">
        <h2 data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000" nz-typography>We are the <span
            nz-typography class="ant-text-primary">&emsp; leaders</span> in the
          healthcare market</h2>
        <div data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">
          <span nz-typography nzType="secondary">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, laudantium minus. Natus aperiam odio corporis
            pariatur veniam reiciendis, vero totam tenetur, laborum ipsum quidem dolore dolores dicta, soluta voluptatum
            quaerat?
          </span>
        </div>
        <div nz-row [nzGutter]="[12, 12]" class="mt-2">
          <div data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000" nz-col nzSpan="24">
            <h6 nz-typography class="d-flex align-items-center">
              <i nz-icon nzType="check-circle" nzTheme="twotone" class="me-2"></i>
              Đặt lịch nhanh chóng
            </h6>
          </div>
          <div data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000" nz-col nzSpan="24">
            <h6 nz-typography class="d-flex align-items-center">
              <i nz-icon nzType="check-circle" nzTheme="twotone" class="me-2"></i>
              Thanh toán thuận tiện
            </h6>
          </div>
          <div data-aos="fade-left" data-aos-delay="150" data-aos-duration="1000" nz-col nzSpan="24">
            <h6 nz-typography class="d-flex align-items-center">
              <i nz-icon nzType="check-circle" nzTheme="twotone" class="me-2"></i>
              Mọi lúc mọi nơi
            </h6>
          </div>
          <div data-aos="fade-left" data-aos-delay="150" data-aos-duration="1000" nz-col nzSpan="24">
            <button class="d-flex align-items-center" nz-button nzType="primary" nzShape="round">Tìm hiểu thêm <i
                nz-icon nzType="arrow-right" nzTheme="outline"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
